@model IEnumerable<StadiumBookingProject.Models.Reservations>
@{
    ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout2.cshtml";
    
}
<br />
<br />

    <div  style="margin-left:100px;">
        <a href="../StadiumBooking/Index" style="color:darkgreen"><h2>  الرئيسية</h2></a>
        <br />
       
        <br />
        @using (Html.BeginForm("Index", "Reservations", FormMethod.Post))
        {
            <p>@Html.TextBox("name", null, new { htmlAttributes = new { @class = "input" } })<input type="submit" style="background-color:green;color:white;border-color:green" value="Search Reservation" /></p>
        }
    </div>
   
    <br />
    <div  style="margin-bottom:100px;margin-left:100px;margin-right:100px;position: relative;
    color:white;
    background-color: rgb(0, 142,103,0.3);" >
    <table class="table1" cellpadding="20">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.earnest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.residual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadiums.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services.Serv_Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.full_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.earnest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.residual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accounts.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadiums.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Services.Serv_Name)
                </td>
                <td>
                    @Html.ActionLink("تفاصيل", "Details", new { id = item.id }) 
                    @Html.ActionLink("إلغاء", "Delete", new { id = item.id })
                </td>
            </tr>





        }
    </table>
</div>

